@model Baza.Models.Usterki

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Usterki</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="typUsterki" class="control-label"></label>
                @Html.DropDownListFor(m => m.typUsterki, new SelectList(Enum.GetValues(typeof(Typ))), "Wybierz rodzaj")
                @Html.ValidationMessageFor(model => Model.typUsterki, "", new { @class = "text-danger" })
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Miejscowosc" class="control-label"></label>
                <input asp-for="Miejscowosc" class="form-control" />
                <span asp-validation-for="Miejscowosc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataZgloszenia" class="control-label"></label>
                <input asp-for="dataZgloszenia" class="form-control" />
                <span asp-validation-for="dataZgloszenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="opis" class="control-label"></label>
                <input asp-for="opis" class="form-control" />
                <span asp-validation-for="opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

