
@{
    ViewData["Title"] = "Krótki opis miasta:";
}

<h2>@ViewBag.Title</h2>
<p>
    Białystok to miasto na prawach powiatu w północno-wschodniej Polsce, położone na Nizinie Północnopodlaskiej, nad rzeką Białą.
    Jest stolicą województwa podlaskiego i siedzibą władz ziemskiego powiatu białostockiego.
</p>



<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>

</head>

<body>

    <div>
        <table>
            <tr>
                <td><b>Urząd Wojewódzki:</b> Adama Mickiewicza 3,   15-213 Białystok</td>
            </tr>

            <tr>
                <td><b>Telefon: </b>  85 743 93 15</tdstyle>
            </tr>

            <tr>
                <td><b>Email:</b> bok@bialystok.uw.gov.pl</tdstyle>
            </tr>

            <tr>
                <td><b>Prezydent:</b> Tadeusz Truskolaski</tdstyle>
            </tr>
        </table>

        <p> </p>
        <p> </p>

        <table>
            <th style="text-decoration:wavy">Urząd Wojewódzki jest czynny w godzinach:</th>
            <tr>
                <td> Poniedziałek: 7:00 - 17:00</td>
            </tr>
            <tr>
                <td> Wtorek: 7:30 - 15:30</td>
            </tr>
            <tr>
                <td> Środa: 7:30 - 15:30</td>
            </tr>
            <tr>
                <td> Czwartek: 7:30 - 15:30</td>
            </tr>
            <tr>
                <td> Piątek: 7:30 - 15:30</td>
            </tr>
        </table>
    </div>

</body>


