
@{
    ViewData["Title"] = "Announcements";
}

<h2>@ViewBag.Title</h2>




@using (Html.BeginForm())
{
    <br />
    <center>
        <h1>Ogłoszenia </h1>
    </center>
    <br />


    <div class="card text-white bg-primary mb-3" style="max-width: 200rem;">
        <div class="card-body">
            <center>
                <div class="card-header h3">Sprzedam dom na Pieczurkach </div>

                <br />
                <div>
                    <img src="~/images/Szkolenie.jpg" width="400" height="200">
                </div>
            </center>
            <br />
            <p class="card-text word-break">
               Dzień dobry, sprzedam dom jednorodzinny o powierzchni 142m2 na Osiedlu Pieczurki 
            </p>
        </div>
    </div>



    <div class="card text-white bg-primary mb-3" style="max-width: 200rem;">
        <div class="card-body">
            <center>
                <div class="card-header h3"> Konkurs "I Ty możesz zostać molem książkowym!"</div>
                <br />
                <div>
                    <img src="~/images/Konkurs.jpg" width="400" height="200">
                </div>
            </center>
            <br />
            <p class="card-text word-break">
                Z okazji kolejnej rocznicy funkcjonowania biblioteki "Mol Książkowy" dnia 22.11.2022r. w bibliotece "Mol Książkowy" organizowany jest konkurs czytania jak największej liczby stron
                w ograniczonym czasie. Wstęp jest dowolny! Dla zwycięzców przewidziane są nagrody! Wszystkich chętnych bardzo serdecznie zapraszamy!
            </p>
        </div>
    </div>
}


