@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Witamy na stronie miasta Białystok!</h1>
</div>
<h1>Aktualności</h1>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css" />
<link rel="stylesheet" href="~/Content/style.css" type="text/css" />
<div class="rightcolumn">
    <div class="card mb-4">
        <div id="calendar">
            <div id="calendar_header">
                <i class="icon-chevron-left"></i>
                <h1 id="month"></h1><i class="icon-chevron-right"></i>
            </div>
            <div id="calendar_weekdays"></div>
            <div id="calendar_content"></div>
        </div>
    </div>
    <div class="card mb-4">
        <div id="weather">
            <div class="row1">
            </div>
            <div class="row2">
                <div class="weather-description"></div>
                <canvas class="weatherType" id="icon1" width="40" height="40"></canvas>
            </div>
        
    <!-- weather widget start -->
    <div class align="right"
    <a target="_blank" href="https://booked.com.pl/weather/bialystok-33127"><img src="https://w.bookcdn.com/weather/picture/1_33127_1_18_137AE9_200_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=&domid=594&anc_id=38583" alt="booked.net" /></a>
    <!-- weather widget end -->
        </div>
    </div>
</div>
